services:
  frontend:
    build:
      context: .
      dockerfile: DockerFile
    ports:
      - "5173:5173" 
    environment:
      - VITE_API_BASE_URL=http://localhost:3000
      - NPM_CONFIG_OPTIONAL=true
    networks:
      - app_network

networks:
  app_network:
    driver: bridge